<%- include('../partials/header') %>
<div class='container'>
    <form id='groove-form' action='/posts' method='POST'>
        <h4>What's your groove of the day?</h4>
        <div class='items'>
            <label>Artist:
                <input type='text' name='artist'>
            </label>
            <label>Title:
                <input type='text' name='title'>
            </label>
            <label>Genre:
                <select name='genre'>
                    <option value='HIP HOP'>HIP HOP</option>
                    <option value='R&B'>R&B</option>
                    <option value='ROCK'>ROCK</option>
                    <option value='EDM'>EDM</option>
                    <option value='POP'>POP</option>
                    <option value='COUNTRY'>COUNTRY</option>
                    <option value='CLASSICAL'>CLASSICAL</option>
                    <option value='JAZZ'>JAZZ</option>
                    <option value='INDIE'>INDIE</option>
                    <option value='OTHER'>OTHER</option>
                </select>
            </label><br><br>
        </div>
        <input type='submit' value='add groOvy'>
    </form>
</div>

<% grooves.forEach(function(g) { %>
<div class='groove-post'>
    <h3 class='post-username'><%= g.userId.name %></h3>
    <div id='post-schema'> 
        <label>Artist: <%= String(g.artist).toUpperCase() %></label>
        <label>Title: <%= String(g.title).toUpperCase() %></label>
        <label>Genre: <%= g.genre %></label>
    </div>
    <div class='timestamp'>
        <label>Posted:
            <%= String(g.createdAt).substr(0,25) %>
        </label>
    </div>
    <% if (user) { %>
        <% if(user._id.toString() == g.userId._id.toString()){ %>
            <div class='edit-n-delete'>
                <form action='/posts/<%= g._id %>?_method=DELETE' class='delete-form' method='POST'>
                    <button id='orangeBox' type='submit'>x</button>
                </form>
            </div>
      
        <% }else {%>
            <div></div>
        <% } %>
    <% } else { %>
        <div></div>
    <% } %>

</div>
<% }); %>

</body>

</html>